.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Decision_Trees.r
Titanic.R
Titanic.Rproj
Titanic_Exploratory.html
Titanic_Test_Set.csv
Titanic_dataset_answer.csv
genderclassmodel.csv
genderclassmodel.py
gendermodel.csv
gendermodel.py
myfirstforest.py
result.csv
test.csv
train.csv